{% load static %}
{% include 'base/tab_login.html' %}
{% block main %}
<style>
/* ส่วนของเนื้อหา */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    border: 1px solid #4a5568; /* เปลี่ยนเป็นกรอบขนาดเล็ก 1px */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* เปลี่ยนเป็นเงาเล็กๆ */
    max-width: 600px; /* เพิ่มขนาดสูงสุดเพื่อให้เนื้อหาอยู่กึ่งกลาง */
    margin: 0 auto; /* จัดให้อยู่กึ่งกลางในหน้าจอ */
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #4a5568;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #4a5568;
}

/* ส่วนของรูปภาพ */
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* เปลี่ยนเป็นเงาเล็กๆ */
}

/* ส่วนของโปรโมชั่น */
select {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 2px solid #4a5568;
    color: #4a5568;
}

/* ส่วนของปุ่มยืนยันการสั่งซื้อ */
button {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 8px;
    background-color: #ffd39a;
    color: #4a5568;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #deb887;
}

</style>
<section>
    <h1>อาหารตามสั่ง</h1>
    <img src="https://th.bing.com/th/id/OIP.x-TxphUpH1Zky6jHM9K5mAHaEK?w=295&h=180&c=7&r=0&o=5&pid=1.7" alt="กระเพราหมูกรอบ">
    <h3>ชื่ออาหาร : กระเพราหมูกรอบ</h3>
    <h3>ราคา : 60</h3>
    <h3>โปรโมชัน</h3>
    <select name="options" id="option_{{ f.id }}">
      <option value="onsale">ไม่มี</option>
      <option value="onsale">วันเกิด</option>
      <option value="notchoose">ลด 10%</option>
      <option value="soldout">ลด 20% เมื่อชื้อครบ 200 บาท</option>
    </select>
    <a href="{%url 'order' %}">
      <button class="mt-6 w-full rounded-md bg-[#ffd39a] py-1.5 font-bold text-gray-700 hover:bg-[#deb887]">ยืนยันการสั่งซื้อ</button>
    </a>

</section>
{% endblock %}