{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>สั่งซื้ออาหาร</title>
<link rel="stylesheet" href="{% static 'css/order1.css' %}">
</head>
<style>
  /* Table header */
.text-xs {
  font-size: 0.75rem;
}

/* Text color gray 900 */
.text-gray-900 {
  color: #1a202c;
}

/* Uppercase text */
.uppercase {
  text-transform: uppercase;
}

/* Text color gray 400 */
.text-gray-400 {
  color: #cbd5e0;
}

/* Padding x 6, padding y 3 */
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

</style>
<body>
  {% include 'base/tab_login.html' %}
  <section>
    <div class="flex justify-center ">
        <div class="mb-10">
            <h2 class="flex justify-center text-xl mt-10 mb-5">ทำการสั่งซื้อ</h2>
            <div class="shadow-md rounded px-20 pt-4 pb-8 mb-4" style="background-color: blanchedalmond" > 
            <div class="px-5 py-2">
                <p>ข้อมูลในการติดต่อ</p>
                <p>ชื่อ : Note{{form.firstname}} {{form.lastname}}</p>
                <p>เบอร์โทรศัพท์ : 064-995-9914{{form.phone}}</p>
                <p>ที่อยู่ : 112 ตำบล วาริน อำเภอ วาริน จังหวัด อุบลราชธานี {{form.address}} </p>
                
            </div>
            <div class="flex justify-center mt-5">
              <a href="{%url 'profile' %}" 
              class="focus:outline-none text-gray-700 bg-[#ffd39a] hover:bg-[#deb887] focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-1 dark:focus:ring-yellow-900">
              แก้ไขข้อมูล</a>
            </div>
        </div>
        <div class="shadow-md rounded px-20 pt-2 pb-8 mb-4" style="background-color: #ffebcd" >
          <div class="py-2">
          <p class="py-2">รายละเอียดคำสั่งซื้อ</p>
          <div class="relative overflow-x-auto">
              <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  <thead class="text-xs text-gray-900 uppercase dark:text-gray-400">
                      <tr>
                          <th scope="col" class="px-6 py-3">
                              
                          </th>
                          <th scope="col" class="px-6 py-3">
                              สินค้า : กระเพราหมูกรอบ
                          </th>
                          <th scope="col" class="px-6 py-3">
                              ราคา : 60 บาท
                          </th>
                          <th scope="col" class="px-6 py-3">
                              จำนวน : 1
                          </th>
                          <th scope="col" class="px-6 py-3">
                              ราคารวม : 60
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for i in cart %}
                      <tr class="bg-white dark:bg-gray-800">
                          <td class="px-6 py-4">
                            <img src="{{i.product.image.url}}" alt="product" class="w-10 h-10">
                          </td>
                          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                            {{i.Food.name}}
                          </th>
                          <td class="px-6 py-4 text-center">
                            {{i.Food.price}}
                          </td>
                          <td class="px-6 py-4 text-center">
                            {{i.amount}}
                          </td>
                          <td class="px-6 py-4 text-center">
                            {{i.subprice}}
                          </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr class="font-semibold text-gray-900 dark:text-white">
                      <td></td>
                      <td></td>
                      <th scope="row" class="px-6 py-3 text-base text-center">ทั้งหมด</th>
                      <td class="px-6 py-3 text-center" >{{total_amount}}</td>
                      <td class="px-6 py-3 text-center">{{total}}</td>
                    </tr>
                </tfoot>
              </table>
              <div class="flex justify-center mt-5">
                <a href="{%url 'payment' %}" class="text-gray-700 bg-[#ffd39a] hover:bg-[#deb887] focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-1 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                  ชำระเงิน
                </a>
              </div>
              <div class="flex justify-center mt-5">
                <a href="{%url 'pt' %}" class="text-gray-700 bg-[#ffd39a] hover:bg-[#deb887] focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-1 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                  ยืนยันการสั่งซื้อ
                </a>
              </div>
          </div>
          </div>
        </div>
    </div>
</section>
</body>
</html>
