{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ item.title }} Detail</title>
    <link rel="stylesheet" href="{% static 'css/product_detail3.css' %}">
</head>
<body>
    {% include 'base/tab_login.html' %}

  <br>
  <div class="product-detail-container">
    <div class="image-slider">
      <div class=".product-image" >
      {% for image in item.images.all %}
        <img class="product-image{% if forloop.first %} active{% endif %}" src="{{ image.image.url }}" alt="{{ item.title }} Image" >
      {% endfor %}
      <button class="prev" onclick="changeImage(-1)">&#10094;</button>
      <button class="next" onclick="changeImage(1)">&#10095;</button>
    </div>
    <div class="product-info">
        <h2 class="product-title">{{ item.title }}</h2>
        <p class="product-size">{{ item.size }}</p>
        <p class="product-matter">{{ item.matter }}</p>
        <p class="product-description">{{ item.description }}</p>
        <p class="product-price">{{item.price}}</p>
        
        {% if user.is_authenticated %}
    {% if item.title == "ป้ายกล่องไฟ" %}
        <a id="checkout-link" href="{% url 'order2' %}"><button id="checkout-btn" onclick="orderProduct('{{ item.title }}')">สั่งซื้อ</button></a>
    {% elif item.title == "ป้ายสติ๊กเกอร์" %}
        <a id="checkout-link" href="{% url 'order3' %}"><button id="checkout-btn" onclick="orderProduct('{{ item.title }}')">สั่งซื้อ</button></a>
    {% elif item.title == "ป้ายรีดฟิวเจอร์บอร์ด" %}
        <a id="checkout-link" href="{% url 'order4' %}"><button id="checkout-btn" onclick="orderProduct('{{ item.title }}')">สั่งซื้อ</button></a>
    {% elif item.title == "ป้ายอักษรพลาสวูด" %}
        <a id="checkout-link" href="{% url 'order5' %}"><button id="checkout-btn" onclick="orderProduct('{{ item.title }}')">สั่งซื้อ</button></a>
    {% elif item.title == "ป้ายรีดโฟมบอร์ด" %}
        <a id="checkout-link" href="{% url 'order6' %}"><button id="checkout-btn" onclick="orderProduct('{{ item.title }}')">สั่งซื้อ</button></a>
    {% elif item.title == "ป้ายไวนิล" %}
        <a id="checkout-link" href="{% url 'order' %}"><button id="checkout-btn" onclick="orderProduct('{{ item.title }}')">สั่งซื้อ</button></a>
    {% else %}
        <a id="checkout-link" href="{% url 'order' %}"><button id="checkout-btn" onclick="orderProduct('{{ item.title }}')">สั่งซื้อ</button></a>
    {% endif %}
    {% else %}
    <button type="button" onclick="redirectToLogin()">สั่งซื้อ</button>
    {% endif %}
        <script src="{% static 'js/detail.js' %}"></script>
    </div>
</div>
</body>
</html>
