{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ติดตามคำสั่งซื้อ</title>
<link rel="stylesheet" href="{% static 'css/track.css' %}">
</head>
<body>
    {% include 'base/tab_login.html' %}
    <div class="container">
        <h1>ติดตามคำสั่งซื้อ</h1>
        <p><strong>สถานะการทำงาน:</strong> {{ order_status }}</p>
        <p><strong>เลขคำสั่งซื้อ:</strong> {{ order.id }}</p>
        <a href="orders/view/<int:order_id>/">ดูรายละเอียดคำสั่งซื้อ</a>
    </div>
</body>
</html>
