{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>

<body>

    <header>
        <h1>Admin Panel</h1>
    </header>

    <nav>
        <a href="{% url 'home' %}">หน้าหลัก</a>
        <a href="{% url 'user_management' %}">จัดการผู้ใช้</a>
        <a href="{% url 'managefood' %}">สินค้า</a>
        <a href="{% url 'preorder' %}"  >order</a>
        <a href="#">รายงาน</a>
        <!-- เพิ่มลิงก์หรือเมนูที่คุณต้องการ -->
    </nav>

    <section>
        <!-- เนื้อหาหน้า Admin จะถูกเพิ่มที่นี่ -->
        <h2>ยินดีต้อนรับสู่หน้า Admin</h2>
        <p>นี่คือหน้าที่ใช้ในการจัดการระบบ</p>
    </section>
</body>
</html>