<link rel="stylesheet" href="https://cdn.tailwindcss.com">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    /* Body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 10px 0;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: center;
}

#navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 14px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#navbar a:hover {
    background-color: #ff0000;
}

#navbar a i {
    margin-right: 5px;
}

</style>
<body>
    <header>
        <div id="navbar">
            <a href="{% url 'home' %}"><i class="fa fa-fw fa-home"></i>หน้าแรก</a>
            <a href="{% url 'me' %}">ช่องทางการติดต่อ</a>
            <a href="{% url 'payment' %}">วิธีการชำระเงิน</a>
        </div>
    </header>
</body>
</html>
