body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fc7070;
  }
  .container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  img {
    max-width: 50%;
    height: auto;
  }

  .contact-info {
    margin-top: 20px;
  }

  .contact-info p {
    margin: 10px 0;
  }

  .line-id {
    color: #00c300;
  }
  .context {
    color: #000000;
  }